 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WORD-BREAK: break-all; PADDING-TOP: 0px; WORD-WRAP: break-word
}
BODY {
	FONT-SIZE: 12px; BACKGROUND: #fff; COLOR: #333; FONT-FAMILY: "ËÎÌå"; TEXT-ALIGN: center
}
TABLE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A {
	COLOR: #33c
}
A:hover {
	COLOR: #c03
}
TEXTAREA {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.f10 {
	FONT-SIZE: 10px
}
.f12 {
	FONT-SIZE: 12px
}
.f13 {
	FONT-SIZE: 13px
}
.f14 {
	FONT-SIZE: 14px
}
.c3 {
	COLOR: #333; TEXT-DECORATION: none
}
A.c3 {
	COLOR: #333; TEXT-DECORATION: none
}
A.c3u {
	COLOR: #333; TEXT-DECORATION: underline
}
.c6 {
	COLOR: #666; TEXT-DECORATION: none
}
A.c6 {
	COLOR: #666; TEXT-DECORATION: none
}
.c9 {
	COLOR: #999; TEXT-DECORATION: none
}
A.c9 {
	COLOR: #999; TEXT-DECORATION: none
}
A.c9u {
	COLOR: #999; TEXT-DECORATION: underline
}
.cc {
	COLOR: #ccc; TEXT-DECORATION: none
}
A.cc {
	COLOR: #ccc; TEXT-DECORATION: none
}
.c7f {
	COLOR: #00007f
}
A.c7f {
	COLOR: #00007f
}
A.c7fn {
	COLOR: #00007f; TEXT-DECORATION: none
}
A.c7fn:hover {
	TEXT-DECORATION: underline
}
A.f14a {
	FONT-SIZE: 14px; COLOR: #33c
}
A.f14a:visited {
	COLOR: #639
}
A.f14a:hover {
	COLOR: #c03
}
.e52 {
	COLOR: #e52a1b; TEXT-DECORATION: none
}
.e52 A {
	COLOR: #e52a1b; TEXT-DECORATION: none
}
.c33c {
	COLOR: #33c
}
.cl {
	COLOR: #360
}
.sl {
	COLOR: #004ba5; TEXT-DECORATION: none
}
A.sl {
	COLOR: #004ba5; TEXT-DECORATION: none
}
.cql {
	COLOR: #5f8b12
}
A.cql {
	COLOR: #5f8b12
}
A.cql:hover {
	BACKGROUND: #a9d379; COLOR: #fff; TEXT-DECORATION: none
}
.tl {
	COLOR: #118ab7; TEXT-DECORATION: none
}
A.tl {
	COLOR: #118ab7; TEXT-DECORATION: none
}
A.tl:hover {
	COLOR: #118ab7; TEXT-DECORATION: underline
}
.o {
	COLOR: #f90; TEXT-DECORATION: none
}
A.o {
	COLOR: #f90; TEXT-DECORATION: none
}
A.ou {
	COLOR: #f90; TEXT-DECORATION: underline
}
.lh15 {
	LINE-HEIGHT: 150%
}
.lh20 {
	LINE-HEIGHT: 200%
}
.lh21 {
	LINE-HEIGHT: 21px
}
.lh23 {
	LINE-HEIGHT: 23px
}
.lh25 {
	LINE-HEIGHT: 25px
}
.ar {
	FONT-FAMILY: Arial
}
.b {
	FONT-WEIGHT: bold
}
.cp {
	CURSOR: pointer
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.cb {
	CLEAR: both
}
.cr {
	CLEAR: right
}
.img1 {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.w100 {
	WIDTH: 100%
}
.in {
	FONT-SIZE: 14px; LINE-HEIGHT: 21px; HEIGHT: 23px
}
.in20 {
	FONT-SIZE: 14px; LINE-HEIGHT: 17px; HEIGHT: 21px
}
.xy1 {
	Z-INDEX: 9; WIDTH: 100%; POSITION: relative; TOP: 1px
}
.ccm8 {
	MARGIN: 8px; COLOR: #ccc
}
.m8 {
	MARGIN: 0px 8px
}
.p_1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.p_2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.p_3 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.p_4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.p_5 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.p_6 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.p_7 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.p_8 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px
}
.p_9 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 12px; PADDING-TOP: 20px
}
.p_a {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 20px
}
.p_b {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 6px; PADDING-TOP: 15px
}
.p_c {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 14px
}
.p_d {
	PADDING-RIGHT: 14px; PADDING-LEFT: 14px; PADDING-BOTTOM: 14px; PADDING-TOP: 6px
}
.p_e {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.p_f {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 25px
}
.p_it {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 6px
}
.p_im {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px
}
.p_im2 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px
}
.p1 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.p10 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.p150 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
.p250 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 25px; PADDING-TOP: 25px
}
.p4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 40px; PADDING-TOP: 40px
}
.p1020 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.pt8 {
	PADDING-TOP: 8px
}
.pt10 {
	PADDING-TOP: 10px
}
.pt15 {
	PADDING-TOP: 15px
}
.pl15 {
	PADDING-LEFT: 15px
}
.mb3 {
	MARGIN-BOTTOM: 3px
}
.mb5 {
	MARGIN-BOTTOM: 5px
}
.mb7 {
	MARGIN-BOTTOM: 7px
}
.mb8 {
	MARGIN-BOTTOM: 8px
}
.mb15 {
	MARGIN-BOTTOM: 15px
}
.mb30 {
	MARGIN-BOTTOM: 30px
}
.m60 {
	MARGIN: 6px 0px
}
.m_pl {
	MARGIN: 15px 0px 0px 100px
}
.ml8 {
	MARGIN-LEFT: 8px
}
.ml20 {
	MARGIN-LEFT: 20px
}
.mt15 {
	MARGIN-TOP: 15px
}
.mt20 {
	MARGIN-TOP: 20px
}
.mr2 {
	MARGIN-RIGHT: 2px
}
.mr5 {
	MARGIN-RIGHT: 5px
}
.bb1e {
	BORDER-BOTTOM: #eee 1px solid
}
.bb1de {
	BORDER-BOTTOM: #eee 1px dashed
}
.jia1 {
	LEFT: 1px; POSITION: relative; TOP: 1px
}
.nav_t {
	PADDING-RIGHT: 15px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: right
}
#nav {
	PADDING-RIGHT: 15px; PADDING-LEFT: 18px; FONT-SIZE: 13px; BACKGROUND: url(http://iask.com/img/v2_nav_bg.gif) repeat-x; PADDING-BOTTOM: 0px; WIDTH: 1003px; COLOR: #ccc; LINE-HEIGHT: 26px; PADDING-TOP: 0px; HEIGHT: 29px
}
#nav DIV {
	CLEAR: right; TEXT-ALIGN: center
}
#nav A {
	COLOR: #333; TEXT-DECORATION: none
}
#nav A:hover {
	COLOR: #c03; TEXT-DECORATION: none
}
#nav .nav_n {
	FONT-WEIGHT: bold; BACKGROUND: url(http://iask.com/img/v2_nav_c.gif) repeat-x center 50%; COLOR: #fff; HEIGHT: 29px
}
#nav2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px 15px 0px 20px; WIDTH: 960px; COLOR: #999; PADDING-TOP: 10px; TEXT-ALIGN: left
}
#nav2 A {
	COLOR: #999
}
#nav2 A:hover {
	COLOR: #c03
}
.hd1 {
	CLEAR: right; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.hd2 {
	CLEAR: right; MARGIN-TOP: 21px; WIDTH: 450px
}
.hd3 {
	CLEAR: right; PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; WIDTH: 160px; PADDING-TOP: 4px; TEXT-ALIGN: right
}
.hd_ss {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 10px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_ss2_l.gif) no-repeat; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 54px; CURSOR: pointer; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; HEIGHT: 20px
}
.hd_tw {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_tw2.gif) no-repeat; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 64px; CURSOR: pointer; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; HEIGHT: 20px
}
.ts_d {
	BORDER-RIGHT: #f90 1px solid; BORDER-TOP: #f90 1px solid; BACKGROUND: #feffcd; BORDER-LEFT: #f90 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #f90 1px solid
}
.bsl {
	PADDING-LEFT: 100px; COLOR: #999
}
#head {
	WIDTH: 1003px; min-width: 1003px
}
#main {
	MARGIN: 0px 15px 0px 20px; WIDTH: 960px; TEXT-ALIGN: left; min-width: 960px
}
.w1 {
	WIDTH: 100px
}
.w2 {
	WIDTH: 460px
}
.w50 {
	WIDTH: 50px
}
.w60 {
	WIDTH: 60px
}
.w70 {
	WIDTH: 70px
}
.w80 {
	WIDTH: 80px
}
.w110 {
	WIDTH: 110px
}
.w150 {
	WIDTH: 150px
}
.w220 {
	WIDTH: 220px
}
.w300 {
	WIDTH: 300px
}
.w350 {
	WIDTH: 350px
}
.wtbg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zzbq_wtbg.gif) no-repeat; PADDING-BOTTOM: 2px; OVERFLOW: hidden; WIDTH: 91px; COLOR: #5d783e; PADDING-TOP: 7px; TEXT-ALIGN: center
}
.hdbg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zzbq_wtbg.gif) no-repeat; PADDING-BOTTOM: 2px; OVERFLOW: hidden; WIDTH: 91px; COLOR: #5d783e; PADDING-TOP: 7px; TEXT-ALIGN: center
}
.dabg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zzbq_wtbg.gif) no-repeat; PADDING-BOTTOM: 2px; OVERFLOW: hidden; WIDTH: 91px; COLOR: #5d783e; PADDING-TOP: 7px; TEXT-ALIGN: center
}
.hdbg {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zzbq_hdbg.gif) no-repeat; COLOR: #545454
}
.dabg {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zzbq_dabg.gif) no-repeat; COLOR: #545454
}
.wtq {
	BORDER-RIGHT: #cae8ae 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cae8ae 1px solid; PADDING-LEFT: 20px; BACKGROUND: #fafff4; PADDING-BOTTOM: 5px; BORDER-LEFT: #cae8ae 1px solid; PADDING-TOP: 20px; BORDER-BOTTOM: #cae8ae 1px solid
}
.hdq {
	BORDER-RIGHT: #ebecee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ebecee 1px solid; PADDING-LEFT: 20px; BACKGROUND: #fbfcfc; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px; BORDER-LEFT: #ebecee 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ebecee 1px solid
}
.daq {
	BORDER-RIGHT: #ffdb4c 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffdb4c 1px solid; PADDING-LEFT: 20px; BACKGROUND: #fdfbf4; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px; BORDER-LEFT: #ffdb4c 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ffdb4c 1px solid
}
.fbplq {
	DISPLAY: none; PADDING-LEFT: 13px
}
.plq1 {
	PADDING-RIGHT: 5px; BORDER-TOP: #e1eed2 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.plq2 {
	PADDING-RIGHT: 5px; BORDER-TOP: #e5ecf1 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.hdsrq {
	BORDER-RIGHT: #ebecee 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #ebecee 1px solid; PADDING-LEFT: 20px; BACKGROUND: #fbfcfc; PADDING-BOTTOM: 15px; BORDER-LEFT: #ebecee 1px solid; LINE-HEIGHT: 21px; PADDING-TOP: 15px; BORDER-BOTTOM: #ebecee 1px solid
}
.whdq {
	BORDER-RIGHT: #ebecee 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #ebecee 1px solid; PADDING-LEFT: 20px; FONT-SIZE: 14px; BACKGROUND: #fbfcfc; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ebecee 1px solid; LINE-HEIGHT: 21px; PADDING-TOP: 15px; BORDER-BOTTOM: #ebecee 1px solid
}
.btn {
	CURSOR: pointer; PADDING-TOP: 3px; HEIGHT: 26px
}
.btn_dl {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_dl_dl1.gif) no-repeat; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 50px; CURSOR: pointer; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial; HEIGHT: 50px
}
.btn_wlhd {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zz_wlhd1.gif) no-repeat; MARGIN: 0px 20px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 103px; CURSOR: pointer; PADDING-TOP: 4px; BORDER-BOTTOM: 0px; HEIGHT: 31px
}
.btn_wytw {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 60px; FONT-SIZE: 25px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zz_wytw1.gif) no-repeat; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 205px; CURSOR: pointer; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; FONT-FAMILY: "ºÚÌå"; HEIGHT: 50px
}
.btn_tpzc {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_tp_bg.gif) no-repeat; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 72px; CURSOR: pointer; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; HEIGHT: 23px
}
.ta1 {
	FONT-SIZE: 14px; WIDTH: 100%; HEIGHT: 130px
}
.ta2 {
	FONT-SIZE: 14px; WIDTH: 100%; HEIGHT: 130px
}
.ta2 {
	HEIGHT: 180px
}
.hydl {
	FONT-SIZE: 14px; COLOR: #5d783e
}
.dlk {
	WIDTH: 112px; LINE-HEIGHT: 21px; HEIGHT: 23px
}
.dl_bg {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_dl_bg.gif) repeat-y; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.dl_b {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_dl_b.gif) no-repeat; OVERFLOW: hidden; WIDTH: 237px; LINE-HEIGHT: 33px; HEIGHT: 33px; TEXT-ALIGN: center
}
.bt1dc {
	BORDER-TOP: #ccc 1px dashed
}
.zt_fm {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zt_bg.gif) no-repeat; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 80px; PADDING-TOP: 6px; HEIGHT: 70px
}
.gj {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 7px; BACKGROUND: #e8ecf2; PADDING-BOTTOM: 7px; BORDER-LEFT: #fff 1px solid; WIDTH: 440px; PADDING-TOP: 7px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 214px
}
.bcwt {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 24px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 110px; CURSOR: pointer; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial; HEIGHT: 23px
}
.tgxs {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 24px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 110px; CURSOR: pointer; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial; HEIGHT: 23px
}
.cxwt {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 24px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 110px; CURSOR: pointer; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial; HEIGHT: 23px
}
.cnda {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 24px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 110px; CURSOR: pointer; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial; HEIGHT: 23px
}
.wmyhd {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 24px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 110px; CURSOR: pointer; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial; HEIGHT: 23px
}
.bcwt {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zz_bcwt.gif) no-repeat
}
.tgxs {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zz_tgxs.gif) no-repeat
}
.cxwt {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zz_cxwt.gif) no-repeat
}
.cnda {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zz_cnda.gif) no-repeat
}
.wmyhd {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zz_wmyhd.gif) no-repeat
}
.ud {
	BORDER-RIGHT: #cae8ae 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cae8ae 1px solid; DISPLAY: none; PADDING-LEFT: 10px; BACKGROUND: #fafff4; LEFT: 0px; PADDING-BOTTOM: 7px; BORDER-LEFT: #cae8ae 1px solid; WIDTH: 95px; COLOR: #333; LINE-HEIGHT: 21px; PADDING-TOP: 7px; BORDER-BOTTOM: #cae8ae 1px solid; POSITION: absolute; TOP: 52px
}
.yhtx_on {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #ccc; PADDING-BOTTOM: 1px; WIDTH: 50px; PADDING-TOP: 1px; POSITION: relative
}
.yhtx_of {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #ccc; PADDING-BOTTOM: 1px; WIDTH: 50px; PADDING-TOP: 1px; POSITION: relative
}
.yhtx_on {
	PADDING-RIGHT: 12px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_zz_yhxxjt.gif) #cae8ae no-repeat right bottom
}
.tpjg {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_tpjg_bg.gif) repeat-x; OVERFLOW: hidden; HEIGHT: 12px
}
.yhb_dh_bg {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_yhb_dh_bg.gif) repeat-x; OVERFLOW: hidden; HEIGHT: 30px
}
.yhb_dh {
	FLOAT: left; COLOR: #999
}
.yhb_dh P {
	FLOAT: left; PADDING-TOP: 10px
}
.yhb_dh_on {
	PADDING-RIGHT: 10px; PADDING-LEFT: 15px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_yhb_dh_on_l.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 6px; COLOR: #333; PADDING-TOP: 10px
}
.yhb_dh_of {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 6px; PADDING-TOP: 10px
}
.yhb_bqtj {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_yhb_bqtj_bg.gif); OVERFLOW: hidden; WIDTH: 690px
}
.yhb_bqtj_t {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_yhb_bqtj_t.gif) no-repeat 50% top; PADDING-TOP: 60px
}
.yhb_bqtj_m {
	WIDTH: 590px; LINE-HEIGHT: 21px; TEXT-ALIGN: left
}
.yhb_bqtj_b {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_yhb_bqtj_b.gif); OVERFLOW: hidden; HEIGHT: 35px; TEXT-ALIGN: right
}
.yhb_t1 {
	Z-INDEX: 9; FLOAT: left; BOTTOM: -1px; POSITION: relative
}
.yhb_t1_t {
	PADDING-RIGHT: 15px; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 15px; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BORDER-BOTTOM: #fcfcfc 1px solid
}
.yhb_t2 {
	BACKGROUND: #fcfcfc; COLOR: #5f8b12; LINE-HEIGHT: 23px
}
.yhb_y1 {
	BORDER-BOTTOM: #ebecee 1px solid; POSITION: relative; HEIGHT: 27px
}
.yhb_y1_on {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_yhb_y2_on.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 3px; OVERFLOW: hidden; WIDTH: 118px; PADDING-TOP: 7px
}
.yhb_y1_of {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_yhb_y2_of.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 3px; OVERFLOW: hidden; WIDTH: 118px; CURSOR: pointer; PADDING-TOP: 7px; TEXT-DECORATION: underline
}
.b1_e0 {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 100%; BORDER-BOTTOM: #e0e0e0 1px solid; POSITION: relative
}
.b1_e0_1 {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_4j_e0.gif) no-repeat; OVERFLOW: hidden; WIDTH: 4px; POSITION: absolute; HEIGHT: 4px
}
.b1_e0_2 {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_4j_e0.gif) no-repeat; OVERFLOW: hidden; WIDTH: 4px; POSITION: absolute; HEIGHT: 4px
}
.b1_e0_3 {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_4j_e0.gif) no-repeat; OVERFLOW: hidden; WIDTH: 4px; POSITION: absolute; HEIGHT: 4px
}
.b1_e0_4 {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_4j_e0.gif) no-repeat; OVERFLOW: hidden; WIDTH: 4px; POSITION: absolute; HEIGHT: 4px
}
.b1_e0_1 {
	BACKGROUND-POSITION: 0px 0px; LEFT: -1px; TOP: -1px
}
.b1_e0_2 {
	BACKGROUND-POSITION: -4px 0px; RIGHT: -1px; TOP: -1px
}
.b1_e0_3 {
	BACKGROUND-POSITION: -8px 0px; LEFT: -1px; BOTTOM: -1px
}
.b1_e0_4 {
	BACKGROUND-POSITION: -12px 0px; RIGHT: -1px; BOTTOM: -1px
}
.b1_ee {
	BORDER-RIGHT: #eee 1px solid; BORDER-TOP: #eee 1px solid; BORDER-LEFT: #eee 1px solid; WIDTH: 100%; BORDER-BOTTOM: #eee 1px solid; POSITION: relative
}
.b1_ee_1 {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_4j_ee.gif) no-repeat; OVERFLOW: hidden; WIDTH: 4px; POSITION: absolute; HEIGHT: 4px
}
.b1_ee_2 {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_4j_ee.gif) no-repeat; OVERFLOW: hidden; WIDTH: 4px; POSITION: absolute; HEIGHT: 4px
}
.b1_ee_3 {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_4j_ee.gif) no-repeat; OVERFLOW: hidden; WIDTH: 4px; POSITION: absolute; HEIGHT: 4px
}
.b1_ee_4 {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_4j_ee.gif) no-repeat; OVERFLOW: hidden; WIDTH: 4px; POSITION: absolute; HEIGHT: 4px
}
.b1_ee_1 {
	BACKGROUND-POSITION: 0px 0px; LEFT: -1px; TOP: -1px
}
.b1_ee_2 {
	BACKGROUND-POSITION: -4px 0px; RIGHT: -1px; TOP: -1px
}
.b1_ee_3 {
	BACKGROUND-POSITION: -8px 0px; LEFT: -1px; BOTTOM: -1px
}
.b1_ee_4 {
	BACKGROUND-POSITION: -12px 0px; RIGHT: -1px; BOTTOM: -1px
}
.b1_e0_lr {
	BORDER-RIGHT: #e0e0e0 1px solid; BACKGROUND: #fff; BORDER-LEFT: #e0e0e0 1px solid; HEIGHT: auto
}
.b1_7b_lr {
	BORDER-RIGHT: #7bcd5d 1px solid; BACKGROUND: #fff; BORDER-LEFT: #7bcd5d 1px solid; HEIGHT: auto
}
.yhb_y1_m {
	BORDER-TOP: 0px; COLOR: #999; LINE-HEIGHT: 23px
}
.l_w {
	BORDER-RIGHT: #d7ebc4 1px solid; BORDER-TOP: #d7ebc4 1px solid; BACKGROUND: #fff; FLOAT: left; OVERFLOW: hidden; BORDER-LEFT: #d7ebc4 1px solid; WIDTH: 60px; BORDER-BOTTOM: #d7ebc4 1px solid; HEIGHT: 5px
}
.l_n {
	BORDER-TOP: #8bcf4a 1px solid; BACKGROUND: #a1db6b; OVERFLOW: hidden; BORDER-BOTTOM: #8bcf4a 1px solid; HEIGHT: 3px
}
.l_s {
	PADDING-LEFT: 8px; FONT-SIZE: 9px; FLOAT: left; LINE-HEIGHT: 8px; FONT-FAMILY: Arial
}
#fl_t {
	MARGIN-TOP: 3px
}
#fl_tt {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 7px; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 3px; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 200px; COLOR: #33c; PADDING-TOP: 5px; BORDER-BOTTOM: #e0e0e0 1px solid
}
#fl_xx {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 20px; BACKGROUND: #fff; PADDING-BOTTOM: 12px; BORDER-LEFT: #e0e0e0 1px solid; COLOR: #999; LINE-HEIGHT: 23px; PADDING-TOP: 12px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.fl_p {
	FLOAT: left; WIDTH: 163px
}
.fl_on {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_fl_bg.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 105px; COLOR: #360; MARGIN-RIGHT: 3px; PADDING-TOP: 9px
}
.fl_of {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_fl_bg.gif) no-repeat left bottom; FLOAT: left; PADDING-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 105px; CURSOR: pointer; MARGIN-RIGHT: 3px; PADDING-TOP: 9px; TEXT-DECORATION: underline
}
.i_s {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #eee 1px solid
}
.i_i {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 14px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 100%; LINE-HEIGHT: 18px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 22px
}
.i_i3 {
	RIGHT: 3px; POSITION: absolute; TOP: 4px
}
#i_l {
	FLOAT: left; WIDTH: 237px; MARGIN-RIGHT: 15px
}
#i_m {
	FLOAT: left; WIDTH: 455px
}
#i_r {
	FLOAT: right; WIDTH: 237px
}
.i_y1 {
	FLOAT: left; WIDTH: 30px
}
.i_y2 {
	FLOAT: left; WIDTH: 65px
}
.i_y3 {
	FLOAT: left; WIDTH: 135px; LINE-HEIGHT: normal
}
.i_y4 {
	FLOAT: left; WIDTH: 120px; LINE-HEIGHT: normal
}
.i_y5 {
	FLOAT: left; WIDTH: 80px
}
.i_ry_t {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_i_yy_t.gif) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.i_ry_w {
	BORDER-RIGHT: #ececec 1px solid; BORDER-TOP: #ececec 1px solid; FONT-SIZE: 14px; BACKGROUND: #f9f9f9; BORDER-LEFT: #ececec 1px solid; LINE-HEIGHT: 27px; BORDER-BOTTOM: #ececec 1px solid; TEXT-ALIGN: center
}
.i_n {
	FONT-WEIGHT: bold; BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_i_n.gif) no-repeat; MARGIN: 38px 6px 0px 8px; OVERFLOW: hidden; WIDTH: 16px; COLOR: #fff; LINE-HEIGHT: 16px; HEIGHT: 14px; TEXT-ALIGN: center
}
.i_lt {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_i_lt.gif) no-repeat; OVERFLOW: hidden; WIDTH: 237px
}
.i_mt {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_i_mt.gif) no-repeat; OVERFLOW: hidden; WIDTH: 455px
}
.i_ld {
	BORDER-TOP: #ededed 1px dashed; MARGIN: 5px 0px
}
.i_md {
	BORDER-TOP: #ededed 1px dashed; MARGIN: 7px 0px
}
.z2tw {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(http://image2.sina.com.cn/pfp/iask/zsr/z2_i_tw.gif) no-repeat; BORDER-LEFT: 0px; WIDTH: 84px; CURSOR: pointer; BORDER-BOTTOM: 0px; HEIGHT: 22px
}
.jia1 {
	LEFT: 1px; POSITION: relative; TOP: 1px
}
.m_cd {
	MARGIN: 2px 15px 0px 2px
}
#ktdq {
	BORDER-RIGHT: #ffc02b 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffc02b 1px solid; DISPLAY: none; PADDING-LEFT: 0px; FONT-SIZE: 13px; BACKGROUND: #fff; FILTER: progid:DXImageTransform.Microsoft.dropshadow(OffX=4, OffY=4, Color='#cccccc', Positive='true'); LEFT: 118px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffc02b 1px solid; WIDTH: 293px; LINE-HEIGHT: 150%; PADDING-TOP: 0px; BORDER-BOTTOM: #ffc02b 1px solid; POSITION: absolute; TOP: 21px
}
.zj_l {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #f0f8e6; PADDING-BOTTOM: 10px; COLOR: #b9caa5; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.zj_i {
	WIDTH: 440px; PADDING-TOP: 2px; HEIGHT: 23px
}
.z2_ts {
	BORDER-RIGHT: #1e4775 1px solid; BORDER-TOP: #1e4775 1px solid; BACKGROUND: #fff; MARGIN-BOTTOM: 15px; BORDER-LEFT: #1e4775 1px solid; WIDTH: 400px; BORDER-BOTTOM: #1e4775 1px solid
}
.z2_ts_t {
	PADDING-RIGHT: 5px; BORDER-TOP: #92c3ec 1px solid; PADDING-LEFT: 10px; BACKGROUND: #5499dc; PADDING-BOTTOM: 5px; COLOR: #fff; PADDING-TOP: 7px
}
.zj_at {
	BORDER-RIGHT: #bed6e0 1px solid; BORDER-TOP: #bed6e0 1px solid; OVERFLOW: auto; BORDER-LEFT: #bed6e0 1px solid; LINE-HEIGHT: 22px; BORDER-BOTTOM: #bed6e0 1px solid; HEIGHT: 65px
}
.zj_gxzs_bg {
	BACKGROUND: url(http://image2.sina.com.cn/pfp/i/z2/z2_gxzs_bg.gif) no-repeat 50% top; MARGIN: 20px 0px; OVERFLOW: hidden; HEIGHT: 60px
}
#btm {
	COLOR: #9c9c9c
}
#btm A {
	COLOR: #9c9c9c
}
#btm {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 30px
}
#btm .btm1 {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; PADDING-TOP: 7px; BORDER-BOTTOM: #ccc 1px dashed; FONT-FAMILY: "ËÎÌå"
}
#btm .btm2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Arial
}
